<center>

# Web Intelligence

# Who will win the Tennis Australian Open 2020?

## 03 Building The Prediction Model

### Riccardo Spolaor (864877)

</center>

Modifico il dataframe in modo da poter ottenere un modello adatto alla predizione:
* Rinomino ***Winner*** in ***PlayerA*** e ***Loser*** in ***PlayerB***;
* Rinomino tutte le colonne con informazioni legate al vincitore e al perdente in modo da riflettere il legame ai nuovi nomi assegnati;
* Creo la colonna ***Winner*** che assume i valori:
    * 0 se ha vinto ***PlayerA***;
    * 1 se ha vinto ***PlayerB***;
* Assegno a ***Winner*** tutti valori 0;
* Duplico il dataframe e faccio lo swapping tra tutte le colonne con informazioni sul Giocatore A e quelle con informazioni sul Giocatore B;
* Assegno il valore 1 a ogni entry della colonna ***Winner*** del nuovo dataframe;
* Unisco i due dataframe.

In [1]:
import pandas as pd

In [2]:
dataframe = pd.read_csv('./datasets/dataframe02.csv', low_memory = False)

In [3]:
dataframe.columns

Index(['csvID', 'ATP', 'Location', 'Tournament', 'Date', 'Series', 'Court',
       'Round', 'Best of', 'Winner',
       ...
       'Isner J.A', 'Isner J.B', 'Moya C.A', 'Moya C.B', 'Davydenko N.A',
       'Davydenko N.B', 'Gonzalez F.A', 'Gonzalez F.B', 'OtherA', 'OtherB'],
      dtype='object', length=101)

In [4]:
def renameColumns():
    dataframe.rename(columns={'Winner':'PlayerA', 
                          'Loser':'PlayerB',
                          'WRank':'RankA',
                          'WRankAdded':'RankFilledA',
                          'LRank':'RankB',
                          'LRankAdded':'RankFilledB',
                          'W1':'1A',
                          'L1':'1B',
                          'W2':'2A',
                          'L2':'2B',
                          'W3':'3A',
                          'L3':'3B',
                          'W4':'4A',
                          'L4':'4B',
                          'W5':'5A',
                          'L5':'5B',
                          'Wsets':'setsA',
                          'Lsets':'setsB',
                          'WPts':'PtsA',
                          'LPts':'PtsB',
                          'WPtsAdded':'PtsFilledA',
                          'LPtsAdded':'PtsFilledB',
                          'MaxW':'MaxA',
                          'MaxWAdded':'MaxFilledA',
                          'MaxL':'MaxB',
                          'MaxLAdded':'MaxFilledB',
                          'AvgW':'AvgA',
                          'AvgWAdded':'AvgFilledA',
                          'AvgL':'AvgB',
                          'AvgLAdded':'AvgFilledB',
                         }, inplace = True)
    dataframe.insert(0, column ='Winner', value = 0)

In [5]:
renameColumns()
dataframe.columns

Index(['Winner', 'csvID', 'ATP', 'Location', 'Tournament', 'Date', 'Series',
       'Court', 'Round', 'Best of',
       ...
       'Isner J.A', 'Isner J.B', 'Moya C.A', 'Moya C.B', 'Davydenko N.A',
       'Davydenko N.B', 'Gonzalez F.A', 'Gonzalez F.B', 'OtherA', 'OtherB'],
      dtype='object', length=102)

In [6]:
dataframe.head(50)[['Winner','PlayerA', 'PlayerB','MaxA', 'MaxB', 'AvgA', 'AvgB', 'MaxFilledA', 'MaxFilledB', 'AvgFilledA',
                   'AvgFilledB']]

,Winner,PlayerA,PlayerB,MaxA,MaxB,AvgA,AvgB,MaxFilledA,MaxFilledB,AvgFilledA,AvgFilledB
0,0,Clement A.,Gaudenzi A.,1.953528,5.753002,1.816889,3.339702,1,1,1,1
1,0,Goldstein P.,Jones A.,1.953528,5.753002,1.816889,3.339702,1,1,1,1
2,0,Haas T.,Smith L.,1.120000,4.000000,1.110000,3.750000,0,0,0,0
3,0,Henman T.,Rusedski G.,1.953528,5.753002,1.816889,3.339702,1,1,1,1
4,0,Hewitt L.,Arthurs W.,1.280000,3.800000,1.200000,3.550000,0,0,0,0
5,0,Johansson T.,Mantilla F.,1.953528,5.753002,1.816889,3.339702,1,1,1,1
6,0,Ljubicic I.,Sargsian S.,1.953528,5.753002,1.816889,3.339702,1,1,1,1
7,0,Malisse X.,Woodruff C.,1.953528,5.753002,1.816889,3.339702,1,1,1,1
8,0,Martin A.,Puentes G.,1.953528,5.753002,1.816889,3.339702,1,1,1,1
9,0,Massu N.,Sluiter R.,1.953528,5.753002,1.816889,3.339702,1,1,1,1
10,0,Pavel A.,Gimelstob J.,1.953528,5.753002,1.816889,3.339702,1,1,1,1
11,0,Phau B.,Woodbridge T.,1.953528,5.753002,1.816889,3.339702,1,1,1,1
12,0,Rochus C.,Ilie A.,1.953528,5.753002,1.816889,3.339702,1,1,1,1
13,0,Stoltenberg J.,Grosjean S.,1.953528,5.753002,1.816889,3.339702,1,1,1,1
14,0,Tarango J.,Kohlmann M.,1.953528,5.753002,1.816889,3.339702,1,1,1,1
15,0,Vinck C.,Popp A.,1.953528,5.753002,1.816889,3.339702,1,1,1,1
16,0,Haas T.,Malisse X.,1.350000,3.200000,1.282500,2.925000,0,0,0,0
17,0,Henman T.,Tarango J.,1.953528,5.753002,1.816889,3.339702,1,1,1,1
18,0,Hewitt L.,Phau B.,1.130000,5.500000,1.130000,5.500000,0,0,0,0
19,0,Johansson T.,Vinck C.,1.953528,5.753002,1.816889,3.339702,1,1,1,1
20,0,Ljubicic I.,Pavel A.,1.953528,5.753002,1.816889,3.339702,1,1,1,1
21,0,Martin A.,Rochus C.,1.953528,5.753002,1.816889,3.339702,1,1,1,1
22,0,Massu N.,Clement A.,2.700000,1.450000,2.407500,1.430000,0,0,0,0
23,0,Stoltenberg J.,Goldstein P.,1.550000,2.380000,1.543333,2.210000,0,0,0,0
24,0,Haas T.,Hewitt L.,2.300000,1.530000,2.100000,1.515000,0,0,0,0
25,0,Henman T.,Johansson T.,1.470000,3.500000,1.367500,2.662500,0,0,0,0
26,0,Massu N.,Ljubicic I.,2.000000,1.700000,1.916667,1.653333,0,0,0,0
27,0,Stoltenberg J.,Martin A.,1.410000,3.000000,1.390000,2.562500,0,0,0,0
28,0,Haas T.,Stoltenberg J.,1.953528,5.753002,1.816889,3.339702,1,1,1,1
29,0,Massu N.,Henman T.,1.953528,5.753002,1.816889,3.339702,1,1,1,1
30,0,Haas T.,Massu N.,1.400000,3.000000,1.383333,2.500000,0,0,0,0
31,0,Agenor R.,Zib T.,2.300000,1.660000,2.000000,1.563333,0,0,0,0
32,0,Black B.,Davydenko N.,1.953528,5.753002,1.816889,3.339702,1,1,1,1
33,0,Dent T.,Norman M.,4.750000,1.170000,3.750000,1.153333,0,0,0,0
34,0,Golmard J.,Bastl G.,1.400000,2.750000,1.383333,2.450000,0,0,0,0
35,0,Kempes E.,Vanek J.,1.953528,5.753002,1.816889,3.339702,1,1,1,1
36,0,Pioline C.,Blanco G.,1.300000,3.400000,1.223333,3.133333,0,0,0,0
37,0,Pless K.,Black W.,2.000000,1.700000,2.000000,1.575000,0,0,0,0
38,0,Robredo T.,Paes L.,2.000000,1.450000,2.000000,1.450000,0,0,0,0
39,0,Sanchez D.,Hantschk M.,1.953528,5.753002,1.816889,3.339702,1,1,1,1
40,0,Saulnier C.,Alvarez E.,1.953528,5.753002,1.816889,3.339702,1,1,1,1
41,0,Stoliarov A.,Bhupathi M.,1.953528,5.753002,1.816889,3.339702,1,1,1,1
42,0,Tabara M.,Gonzalez F.,1.953528,5.753002,1.816889,3.339702,1,1,1,1
43,0,Vinciguerra A.,Kratochvil M.,1.450000,2.500000,1.410000,2.333333,0,0,0,0
44,0,Voinea A.,Syed F.,1.953528,5.753002,1.816889,3.339702,1,1,1,1
45,0,Wessels P.,Roux L.,1.600000,1.800000,1.600000,1.800000,0,0,0,0
46,0,Youzhny M.,Squillari F.,2.200000,1.600000,2.033333,1.550000,0,0,0,0
47,0,Pioline C.,Agenor R.,1.250000,3.750000,1.210000,3.387500,0,0,0,0
48,0,Pless K.,Dent T.,2.200000,1.800000,2.015000,1.617500,0,0,0,0
49,0,Robredo T.,Sanchez D.,2.000000,1.730000,1.900000,1.653333,0,0,0,0

In [7]:
dataframeex = dataframe.copy()

In [8]:
def getInvertedDataFrame(colToInvert):
    
    players = dataframe['PlayerA'].value_counts().subtract(
        dataframe['PlayerB'].value_counts(), fill_value = 0).sort_values(ascending = False).index.tolist()[:25]
    
    colToInvert += players
    
    for f in colToInvert:
        dataframe.iloc[1::2][[f+'A', f+'B']] = dataframe.iloc[1::2][[f+'B', f+'A']]
    
    dataframe.loc[1::2,'Winner'] = 1

In [9]:
getInvertedDataFrame(['Player', 'Rank', 'RankFilled', 'Pts', 'PtsFilled', '1', 
                   '2', '3', '4', '5', 'sets', 'Max', 'Avg', 'MaxFilled', 'AvgFilled', 'Other'])

C:\Users\ricca\Anaconda3\lib\site-packages\pandas\core\frame.py:3391: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

In [10]:
dataframeex.head()[['PlayerA', 'PlayerB', 'RankA', 'RankB']]

        PlayerA      PlayerB  RankA  RankB
0    Clement A.  Gaudenzi A.   18.0  101.0
1  Goldstein P.     Jones A.   81.0  442.0
2       Haas T.     Smith L.   23.0  485.0
3     Henman T.  Rusedski G.   10.0   69.0
4     Hewitt L.   Arthurs W.    7.0   83.0

In [11]:
dataframe.head()[['PlayerA', 'PlayerB', 'RankA', 'RankB']]

       PlayerA       PlayerB  RankA  RankB
0   Clement A.   Gaudenzi A.   18.0  101.0
1     Jones A.  Goldstein P.  442.0   81.0
2      Haas T.      Smith L.   23.0  485.0
3  Rusedski G.     Henman T.   69.0   10.0
4    Hewitt L.    Arthurs W.    7.0   83.0

In [12]:
dataframe.columns

Index(['Winner', 'csvID', 'ATP', 'Location', 'Tournament', 'Date', 'Series',
       'Court', 'Round', 'Best of',
       ...
       'Isner J.A', 'Isner J.B', 'Moya C.A', 'Moya C.B', 'Davydenko N.A',
       'Davydenko N.B', 'Gonzalez F.A', 'Gonzalez F.B', 'OtherA', 'OtherB'],
      dtype='object', length=102)

In [13]:
dataframe = dataframe.reset_index(drop = True)
dataframe.head(50)[['Winner','PlayerA', 'PlayerB','MaxA', 'MaxB', 'AvgA', 'AvgB', 'MaxFilledA', 'MaxFilledB', 'AvgFilledA',
                   'AvgFilledB']]

,Winner,PlayerA,PlayerB,MaxA,MaxB,AvgA,AvgB,MaxFilledA,MaxFilledB,AvgFilledA,AvgFilledB
0,0,Clement A.,Gaudenzi A.,1.953528,5.753002,1.816889,3.339702,1,1,1,1
1,1,Jones A.,Goldstein P.,5.753002,1.953528,3.339702,1.816889,1,1,1,1
2,0,Haas T.,Smith L.,1.120000,4.000000,1.110000,3.750000,0,0,0,0
3,1,Rusedski G.,Henman T.,5.753002,1.953528,3.339702,1.816889,1,1,1,1
4,0,Hewitt L.,Arthurs W.,1.280000,3.800000,1.200000,3.550000,0,0,0,0
5,1,Mantilla F.,Johansson T.,5.753002,1.953528,3.339702,1.816889,1,1,1,1
6,0,Ljubicic I.,Sargsian S.,1.953528,5.753002,1.816889,3.339702,1,1,1,1
7,1,Woodruff C.,Malisse X.,5.753002,1.953528,3.339702,1.816889,1,1,1,1
8,0,Martin A.,Puentes G.,1.953528,5.753002,1.816889,3.339702,1,1,1,1
9,1,Sluiter R.,Massu N.,5.753002,1.953528,3.339702,1.816889,1,1,1,1
10,0,Pavel A.,Gimelstob J.,1.953528,5.753002,1.816889,3.339702,1,1,1,1
11,1,Woodbridge T.,Phau B.,5.753002,1.953528,3.339702,1.816889,1,1,1,1
12,0,Rochus C.,Ilie A.,1.953528,5.753002,1.816889,3.339702,1,1,1,1
13,1,Grosjean S.,Stoltenberg J.,5.753002,1.953528,3.339702,1.816889,1,1,1,1
14,0,Tarango J.,Kohlmann M.,1.953528,5.753002,1.816889,3.339702,1,1,1,1
15,1,Popp A.,Vinck C.,5.753002,1.953528,3.339702,1.816889,1,1,1,1
16,0,Haas T.,Malisse X.,1.350000,3.200000,1.282500,2.925000,0,0,0,0
17,1,Tarango J.,Henman T.,5.753002,1.953528,3.339702,1.816889,1,1,1,1
18,0,Hewitt L.,Phau B.,1.130000,5.500000,1.130000,5.500000,0,0,0,0
19,1,Vinck C.,Johansson T.,5.753002,1.953528,3.339702,1.816889,1,1,1,1
20,0,Ljubicic I.,Pavel A.,1.953528,5.753002,1.816889,3.339702,1,1,1,1
21,1,Rochus C.,Martin A.,5.753002,1.953528,3.339702,1.816889,1,1,1,1
22,0,Massu N.,Clement A.,2.700000,1.450000,2.407500,1.430000,0,0,0,0
23,1,Goldstein P.,Stoltenberg J.,2.380000,1.550000,2.210000,1.543333,0,0,0,0
24,0,Haas T.,Hewitt L.,2.300000,1.530000,2.100000,1.515000,0,0,0,0
25,1,Johansson T.,Henman T.,3.500000,1.470000,2.662500,1.367500,0,0,0,0
26,0,Massu N.,Ljubicic I.,2.000000,1.700000,1.916667,1.653333,0,0,0,0
27,1,Martin A.,Stoltenberg J.,3.000000,1.410000,2.562500,1.390000,0,0,0,0
28,0,Haas T.,Stoltenberg J.,1.953528,5.753002,1.816889,3.339702,1,1,1,1
29,1,Henman T.,Massu N.,5.753002,1.953528,3.339702,1.816889,1,1,1,1
30,0,Haas T.,Massu N.,1.400000,3.000000,1.383333,2.500000,0,0,0,0
31,1,Zib T.,Agenor R.,1.660000,2.300000,1.563333,2.000000,0,0,0,0
32,0,Black B.,Davydenko N.,1.953528,5.753002,1.816889,3.339702,1,1,1,1
33,1,Norman M.,Dent T.,1.170000,4.750000,1.153333,3.750000,0,0,0,0
34,0,Golmard J.,Bastl G.,1.400000,2.750000,1.383333,2.450000,0,0,0,0
35,1,Vanek J.,Kempes E.,5.753002,1.953528,3.339702,1.816889,1,1,1,1
36,0,Pioline C.,Blanco G.,1.300000,3.400000,1.223333,3.133333,0,0,0,0
37,1,Black W.,Pless K.,1.700000,2.000000,1.575000,2.000000,0,0,0,0
38,0,Robredo T.,Paes L.,2.000000,1.450000,2.000000,1.450000,0,0,0,0
39,1,Hantschk M.,Sanchez D.,5.753002,1.953528,3.339702,1.816889,1,1,1,1
40,0,Saulnier C.,Alvarez E.,1.953528,5.753002,1.816889,3.339702,1,1,1,1
41,1,Bhupathi M.,Stoliarov A.,5.753002,1.953528,3.339702,1.816889,1,1,1,1
42,0,Tabara M.,Gonzalez F.,1.953528,5.753002,1.816889,3.339702,1,1,1,1
43,1,Kratochvil M.,Vinciguerra A.,2.500000,1.450000,2.333333,1.410000,0,0,0,0
44,0,Voinea A.,Syed F.,1.953528,5.753002,1.816889,3.339702,1,1,1,1
45,1,Roux L.,Wessels P.,1.800000,1.600000,1.800000,1.600000,0,0,0,0
46,0,Youzhny M.,Squillari F.,2.200000,1.600000,2.033333,1.550000,0,0,0,0
47,1,Agenor R.,Pioline C.,3.750000,1.250000,3.387500,1.210000,0,0,0,0
48,0,Pless K.,Dent T.,2.200000,1.800000,2.015000,1.617500,0,0,0,0
49,1,Sanchez D.,Robredo T.,1.730000,2.000000,1.653333,1.900000,0,0,0,0

In [14]:
dataframe.drop(['Date', 'PlayerA', 'PlayerB', 'csvID', '1A', '1B', '2A', '2B', '3A', '3B', '4A', 
                '4B', '5A', '5B', 'setsA', 'setsB', 'Awarded', 'Completed',
       'Disqualified', 'Retired', 'Sched', 'Walkover'], axis = 1, inplace = True)

In [15]:
dataframe = dataframe.reset_index(drop = True)
dataframe.head()

,Winner,ATP,Location,Tournament,Series,Court,Round,Best of,RankA,RankFilledA,...,Isner J.A,Isner J.B,Moya C.A,Moya C.B,Davydenko N.A,Davydenko N.B,Gonzalez F.A,Gonzalez F.B,OtherA,OtherB
0,0,1.0,2,0,0,1,0,3.0,18.0,0,...,0,0,0,0,0,0,0,0,1,1
1,1,1.0,2,0,0,1,0,3.0,442.0,0,...,0,0,0,0,0,0,0,0,1,1
2,0,1.0,2,0,0,1,0,3.0,23.0,0,...,0,0,0,0,0,0,0,0,0,1
3,1,1.0,2,0,0,1,0,3.0,69.0,0,...,0,0,0,0,0,0,0,0,1,1
4,0,1.0,2,0,0,1,0,3.0,7.0,0,...,0,0,0,0,0,0,0,0,0,1

In [16]:
dataframe.to_csv('./datasets/dataframe03.csv', index = False)