<center>

# Web Intelligence

# Who will win the Tennis Australian Open 2020?

## 02 Adding New Features

### Riccardo Spolaor (864877)

</center>

# Creazione Variabili aggiuntive
Viene ripreso il dataset usato prima del Notebook *03 Building The Prediction Model* per poter aggiungere nuove features basate sui dati non utilizzabili nel modello di predizione.

In [1]:
import pandas as pd
import python_files.FeaturesOperations as featop

In [2]:
dataframe = pd.read_csv('./datasets/dataframe02.csv', low_memory = False)
dataframe = dataframe.reset_index(drop = True)

In [3]:
dataframe.head()

,csvID,ATP,Location,Tournament,Date,Series,Court,Round,Best of,Winner,...,ISNER J.A,ISNER J.B,MOYA C.A,MOYA C.B,DAVYDENKO N.A,DAVYDENKO N.B,GONZALEZ F.A,GONZALEZ F.B,OtherA,OtherB
0,0,1.0,46,0,2001-01-01,0,1,0,3.0,CLEMENT A.,...,0,0,0,0,0,0,0,0,1,1
1,0,1.0,46,0,2001-01-01,0,1,0,3.0,GOLDSTEIN P.,...,0,0,0,0,0,0,0,0,1,1
2,0,1.0,46,0,2001-01-01,0,1,0,3.0,HAAS T.,...,0,0,0,0,0,0,0,0,0,1
3,0,1.0,46,0,2001-01-01,0,1,0,3.0,HENMAN T.,...,0,0,0,0,0,0,0,0,1,1
4,0,1.0,46,0,2001-01-01,0,1,0,3.0,HEWITT L.,...,0,0,0,0,0,0,0,0,0,1

## Feature di Confronto
Vengono aggiunte feature di confronto di maggioranza tra le caratteristiche dei due giocatori (es: ***Rank***; ***Pts***).

Le feature di confronto verranno aggiunte anche per le nuove variabili aggiunte.

In [4]:
dataframe['RankA>RankB'] = dataframe.apply(lambda x : int(x['WRank'] > x['LRank']), axis = 1)
dataframe['MaxA>MaxB'] = dataframe.apply(lambda x : int(x['MaxW'] > x['MaxL']), axis = 1)
dataframe['AvgA>AvgB'] = dataframe.apply(lambda x : int(x['AvgW'] > x['AvgL']), axis = 1)
dataframe['PtsA>PtsB'] = dataframe.apply(lambda x : int(x['WPts'] > x['LPts']), axis = 1)

## Caratteristiche dello storico dei due giocatori
* ***OpponentsPlayed***: Il numero di partite giocate tra i due contendenti;
* ***OpponentsWRatio(A/B)***: Il rapporto vittorie/partite giocate tra i due contendenti per i due giocatori;

In [5]:
featop.set_player_a_vs_player_b_statistics(dataframe)

In [6]:
(dataframe[dataframe['Winner'] == 'NADAL R.'].merge(
    dataframe[dataframe['Loser'] == 'FEDERER R.'])).append(
    dataframe[dataframe['Winner'] == 'FEDERER R.'].merge(
    dataframe[dataframe['Loser'] == 'NADAL R.'])).sort_values(by = 'OpponentsPlayed')[['Winner', 'Loser', 'OpponentsPlayed',
                                                                                       'OpponentsWRatioA', 'OpponentsWRatioB', 
                                                                                       'OpponentsWRatioA>OpponentsWRatioB', 
                                                                                       'Date']]

,Winner,Loser,OpponentsPlayed,OpponentsWRatioA,OpponentsWRatioB,OpponentsWRatioA>OpponentsWRatioB,Date
0,NADAL R.,FEDERER R.,0,0.000000,0.000000,0,2004-03-29
0,FEDERER R.,NADAL R.,1,0.000000,1.000000,0,2005-04-03
1,NADAL R.,FEDERER R.,2,0.500000,0.500000,0,2005-06-03
2,NADAL R.,FEDERER R.,3,0.666667,0.333333,1,2006-03-04
3,NADAL R.,FEDERER R.,4,0.750000,0.250000,1,2006-04-23
4,NADAL R.,FEDERER R.,5,0.800000,0.200000,1,2006-05-14
5,NADAL R.,FEDERER R.,6,0.833333,0.166667,1,2006-06-11
1,FEDERER R.,NADAL R.,7,0.142857,0.857143,0,2006-07-09
2,FEDERER R.,NADAL R.,8,0.250000,0.750000,0,2006-11-18
6,NADAL R.,FEDERER R.,9,0.666667,0.333333,1,2007-04-22
3,FEDERER R.,NADAL R.,10,0.300000,0.700000,0,2007-05-20
7,NADAL R.,FEDERER R.,11,0.636364,0.363636,1,2007-06-10
4,FEDERER R.,NADAL R.,12,0.333333,0.666667,0,2007-07-08
5,FEDERER R.,NADAL R.,13,0.384615,0.615385,0,2007-11-17
8,NADAL R.,FEDERER R.,14,0.571429,0.428571,1,2008-04-27
9,NADAL R.,FEDERER R.,15,0.600000,0.400000,1,2008-05-18
10,NADAL R.,FEDERER R.,16,0.625000,0.375000,1,2008-06-08
11,NADAL R.,FEDERER R.,17,0.647059,0.352941,1,2008-07-06
12,NADAL R.,FEDERER R.,18,0.666667,0.333333,1,2009-02-01
6,FEDERER R.,NADAL R.,19,0.315789,0.684211,0,2009-05-17
13,NADAL R.,FEDERER R.,20,0.650000,0.350000,1,2010-05-16
7,FEDERER R.,NADAL R.,21,0.333333,0.666667,0,2010-11-28
14,NADAL R.,FEDERER R.,22,0.636364,0.363636,1,2011-04-02
15,NADAL R.,FEDERER R.,23,0.652174,0.347826,1,2011-05-07
16,NADAL R.,FEDERER R.,24,0.666667,0.333333,1,2011-06-05
8,FEDERER R.,NADAL R.,25,0.320000,0.680000,0,2011-11-22
17,NADAL R.,FEDERER R.,26,0.653846,0.346154,1,2012-01-26
9,FEDERER R.,NADAL R.,27,0.333333,0.666667,0,2012-03-18
18,NADAL R.,FEDERER R.,28,0.642857,0.357143,1,2013-03-15
19,NADAL R.,FEDERER R.,29,0.655172,0.344828,1,2013-05-19
20,NADAL R.,FEDERER R.,30,0.666667,0.333333,1,2013-08-17
21,NADAL R.,FEDERER R.,31,0.677419,0.322581,1,2013-11-10
22,NADAL R.,FEDERER R.,32,0.687500,0.312500,1,2014-01-24
10,FEDERER R.,NADAL R.,33,0.303030,0.696970,0,2015-11-01
11,FEDERER R.,NADAL R.,34,0.323529,0.676471,0,2017-01-29
12,FEDERER R.,NADAL R.,35,0.342857,0.657143,0,2017-03-16
13,FEDERER R.,NADAL R.,36,0.361111,0.638889,0,2017-01-02
14,FEDERER R.,NADAL R.,37,0.378378,0.621622,0,2017-10-15
15,FEDERER R.,NADAL R.,38,0.394737,0.605263,0,2019-03-16
23,NADAL R.,FEDERER R.,39,0.589744,0.410256,1,2019-06-07
16,FEDERER R.,NADAL R.,40,0.400000,0.600000,0,2019-07-12

## Feature riguardanti le caratteristiche dei giocatori nel torneo
* ***FadigueTournGames(A/B)***: i game giocati finora da un giocatore nel torneo come misura di stanchezza;
* ***FadigueTournSets(A/B)***: i set giocati finora da un giocatore nel torneo come misura di stanchezza;

In [7]:
featop.set_fatigue(dataframe)

In [8]:
dataframe[dataframe['csvID'] == 3].merge(
    dataframe[dataframe['ATP'] == 5]).merge(
    dataframe[dataframe['Winner'] == 'HEWITT L.']).head(20)[['Winner','Loser', 'Round','W1', 'W2', 'W3', 'Wsets',
                                               'L1', 'L2', 'L3', 'Lsets','FadigueTournGamesA','FadigueTournGamesB',
                                               'FadigueTournGamesA>FadigueTournGamesB', 'FadigueTournSetsA','FadigueTournSetsB',
                                               'FadigueTournSetsA>FadigueTournSetsB']]

,Winner,Loser,Round,W1,W2,W3,Wsets,L1,L2,L3,Lsets,FadigueTournGamesA,FadigueTournGamesB,FadigueTournGamesA>FadigueTournGamesB,FadigueTournSetsA,FadigueTournSetsB,FadigueTournSetsA>FadigueTournSetsB
0,HEWITT L.,SARGSIAN S.,0,6.0,6.0,0.0,2.0,4.0,2.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0
1,HEWITT L.,KUCERA V.,1,6.0,6.0,0.0,2.0,4.0,1.0,0.0,0.0,18.0,35.0,0,2.0,3.0,0
2,HEWITT L.,CLEMENT A.,5,6.0,4.0,6.0,2.0,1.0,6.0,3.0,1.0,35.0,40.0,0,4.0,4.0,0
3,HEWITT L.,VERKERK M.,6,6.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,61.0,82.0,0,7.0,7.0,0
4,HEWITT L.,MOYA C.,7,4.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,69.0,74.0,0,8.0,8.0,0

## Feature riguardanti le caratteristiche del giocatore in generale
* ***RetiredLast(A/B)***: feature binaria che indica se un giocatore si Ã¨ ritirato lo scorso match;
* ***WalkoverLast(A/B)***: feature binaria che indica se un giocatore si Ã¨ infortunato lo scorso match;
* ***Played(A/B)***: partite giocate dal giocatore finora;
* ***WonRatio(A/B)***: rapporto partite vinte/giocate dal giocatore finora.
* ***PlayedCourt(A/B)***: partite giocate dal giocatore nel tipo di campo del match attuale finora;
* ***WonRatioCourt(A/B)***: rapporto partite vinte/giocate dal giocatore nel tipo di campo del match attuale finora.
* ***5_gamesMean(A/B)***: media del numero di game vinti dal giocatore negli ultimi 5 match;
* ***5_setsMean(A/B)***: media del numero di set vinti dal giocatore negli ultimi 5 match;

In [9]:
featop.set_retired_walkover_last(dataframe)

In [10]:
first_nadal_walkover = dataframe[dataframe['Walkover'] == 1].merge(dataframe[dataframe['Loser'] == 'NADAL R.']).head(1)['Date']

dataframe[dataframe['Winner'] == 'NADAL R.'].append(
    dataframe[dataframe['Loser'] == 'NADAL R.']).merge(
    dataframe[dataframe['Date'] >= first_nadal_walkover[0]]).sort_values(by = 'Date')[['Winner','Loser','WalkoverLastA', 
                                                                                'WalkoverLastB', 'Walkover', 'Date']].head(5)

,Winner,Loser,WalkoverLastA,WalkoverLastB,Walkover,Date
916,LABADZE I.,NADAL R.,0,0,1,2004-04-16
0,NADAL R.,VANEK J.,1,0,0,2004-07-06
1,NADAL R.,VENTURA S.,0,0,0,2004-07-08
917,GAUDIO G.,NADAL R.,0,0,0,2004-07-09
2,NADAL R.,VASSALLO-ARGUELLO M.,0,0,0,2004-07-14

In [11]:
featop.set_played_matches(dataframe)

In [12]:
dataframe[dataframe['Winner'] == 'NADAL R.'].append(
    dataframe[dataframe['Loser'] == 'NADAL R.']).sort_values(by='Date').head(20)[['Winner', 'Loser', 'PlayedA', 'PlayedB', 
                                                                                  'Date','WonRatioA','WonRatioB']]

,Winner,Loser,PlayedA,PlayedB,Date,WonRatioA,WonRatioB
3994,NADAL R.,DELGADO R.,0,26,2002-04-29,0.000000,0.384615
4007,ROCHUS O.,NADAL R.,42,1,2002-04-29,0.380952,1.000000
6717,NADAL R.,KUCERA K.,2,75,2003-04-15,0.500000,0.560000
6731,NADAL R.,COSTA A.,3,118,2003-04-16,0.666667,0.576271
6741,CORIA G.,NADAL R.,100,4,2003-04-17,0.630000,0.750000
6775,NADAL R.,MARIN J.A.,5,25,2003-04-22,0.600000,0.440000
6790,CORRETJA A.,NADAL R.,111,6,2003-04-23,0.612613,0.666667
6973,NADAL R.,MATHIEU P.H.,7,44,2003-05-12,0.571429,0.545455
7002,NADAL R.,MOYA C.,8,172,2003-05-14,0.625000,0.703488
7016,GAUDIO G.,NADAL R.,133,9,2003-05-15,0.616541,0.666667
7337,NADAL R.,ANCIC M.,10,29,2003-06-23,0.600000,0.413793
7401,NADAL R.,CHILDS L.,11,4,2003-06-25,0.636364,0.250000
7432,SRICHAPHAN P.,NADAL R.,122,12,2003-06-27,0.573770,0.666667
7469,NADAL R.,EL AYNAOUI Y.,13,161,2003-07-08,0.615385,0.602484
7478,NADAL R.,PORTAS A.,14,112,2003-07-09,0.642857,0.428571
7486,LAPENTTI N.,NADAL R.,134,15,2003-07-11,0.544776,0.666667
7595,NADAL R.,PETZSCHNER P.,16,1,2003-07-15,0.625000,0.000000
7616,GONZALEZ F.,NADAL R.,102,17,2003-07-16,0.578431,0.647059
7736,NADAL R.,VOINEA A.,18,85,2003-07-22,0.611111,0.435294
7743,NADAL R.,PUERTA M.,19,30,2003-07-23,0.631579,0.200000

In [13]:
print(dataframe[dataframe['Winner'] == 'NADAL R.'].append(dataframe[dataframe['Loser'] == 'NADAL R.']).shape[0])

dataframe[dataframe['Winner'] == 'NADAL R.'].append(
    dataframe[dataframe['Loser'] == 'NADAL R.']).sort_values(by='Date').tail(1)[['Winner', 'Loser', 'PlayedA', 'PlayedB', 'Date',
                                                                               'WonRatioA','WonRatioB']]

1145

,Winner,Loser,PlayedA,PlayedB,Date,WonRatioA,WonRatioB
51940,NADAL R.,TSITSIPAS S.,1144,158,2019-11-15,0.826049,0.613924

In [14]:
featop.set_played_matches_by_court(dataframe)

In [15]:
dataframe[dataframe['Winner'] == 'NADAL R.'].append(
    dataframe[dataframe['Loser'] == 'NADAL R.']).merge(
    dataframe[dataframe['Hard'] == 1]).sort_values(by='Date').head(10)[['Winner', 'Loser', 'PlayedCourtA', 'PlayedCourtB', 'Date',
                                                                               'WonRatioCourtA','WonRatioCourtB']]

,Winner,Loser,PlayedCourtA,PlayedCourtB,Date,WonRatioCourtA,WonRatioCourtB
0,NADAL R.,VICENTE F.,0,53,2003-08-27,0.000000,0.452830
447,EL AYNAOUI Y.,NADAL R.,70,1,2003-08-29,0.571429,1.000000
448,CORRETJA A.,NADAL R.,53,2,2003-10-13,0.490566,0.500000
449,ASCIONE T.,NADAL R.,3,3,2004-01-06,0.333333,0.333333
1,NADAL R.,SCHALKEN S.,4,99,2004-01-13,0.250000,0.545455
2,NADAL R.,ANCIC M.,5,31,2004-01-14,0.400000,0.387097
3,NADAL R.,CARRAZ G.,6,22,2004-01-15,0.500000,0.500000
4,NADAL R.,NOVAK J.,7,100,2004-01-16,0.571429,0.620000
450,HRBATY D.,NADAL R.,92,8,2004-01-17,0.543478,0.625000
5,NADAL R.,TABARA M.,9,24,2004-01-20,0.555556,0.458333

In [16]:
print(dataframe[dataframe['Winner'] == 'NADAL R.'].append(dataframe[dataframe['Loser'] == 'NADAL R.']).merge(
    dataframe[dataframe['Hard'] == 1]).shape[0])

dataframe[dataframe['Winner'] == 'NADAL R.'].append(
    dataframe[dataframe['Loser'] == 'NADAL R.']).merge(
    dataframe[dataframe['Hard'] == 1]).sort_values(
        by='Date').tail(1)[['Winner', 'Loser', 'PlayedCourtA', 'PlayedCourtB', 'Date', 'WonRatioCourtA','WonRatioCourtB']]

578

,Winner,Loser,PlayedCourtA,PlayedCourtB,Date,WonRatioCourtA,WonRatioCourtB
446,NADAL R.,TSITSIPAS S.,577,103,2019-11-15,0.772964,0.601942

In [17]:
featop.set_players_last_5_statistics(dataframe)

In [18]:
display(dataframe[dataframe['Winner'] == 'NADAL R.'].append(
            dataframe[dataframe['Loser'] == 'NADAL R.']).sort_values(by='Date').head(10)[['Winner', 'Loser',
                                                                                  'W1', 'W2', 'W3', 'W4', 'W5', 'Wsets',
                                                                                  '5_gamesMeanA', '5_setsMeanA',
                                                                                  'L1', 'L2', 'L3', 'L4', 'L5', 'Lsets',
                                                                                  '5_gamesMeanB', '5_setsMeanB',
                                                                                  '5_gamesMeanA>5_gamesMeanB',
                                                                                  '5_setsMeanA>5_setsMeanB']])

,Winner,Loser,W1,W2,W3,W4,W5,Wsets,5_gamesMeanA,5_setsMeanA,L1,L2,L3,L4,L5,Lsets,5_gamesMeanB,5_setsMeanB,5_gamesMeanA>5_gamesMeanB,5_setsMeanA>5_setsMeanB
3994,NADAL R.,DELGADO R.,6.0,6.0,0.0,0.0,0.0,2.0,0.000000,0.000000,4.0,4.0,0.0,0.0,0.0,0.0,6.00,0.2,0,0
4007,ROCHUS O.,NADAL R.,6.0,6.0,0.0,0.0,0.0,2.0,10.400000,1.000000,2.0,2.0,0.0,0.0,0.0,0.0,12.00,2.0,0,0
6717,NADAL R.,KUCERA K.,6.0,6.0,0.0,0.0,0.0,2.0,8.000000,1.000000,1.0,2.0,0.0,0.0,0.0,0.0,10.60,1.6,0,0
6731,NADAL R.,COSTA A.,7.0,6.0,0.0,0.0,0.0,2.0,9.333333,1.333333,5.0,3.0,0.0,0.0,0.0,0.0,13.00,1.6,0,0
6741,CORIA G.,NADAL R.,7.0,6.0,0.0,0.0,0.0,2.0,13.800000,1.800000,6.0,2.0,0.0,0.0,0.0,0.0,10.25,1.5,1,1
6775,NADAL R.,MARIN J.A.,6.0,0.0,0.0,0.0,0.0,1.0,9.800000,1.200000,0.0,0.0,0.0,0.0,0.0,0.0,8.80,0.8,1,1
6790,CORRETJA A.,NADAL R.,3.0,6.0,6.0,0.0,0.0,2.0,9.200000,0.600000,6.0,2.0,1.0,0.0,0.0,1.0,8.60,1.0,1,0
6973,NADAL R.,MATHIEU P.H.,7.0,6.0,0.0,0.0,0.0,2.0,9.600000,1.200000,5.0,4.0,0.0,0.0,0.0,0.0,8.40,0.6,1,1
7002,NADAL R.,MOYA C.,7.0,6.0,0.0,0.0,0.0,2.0,9.800000,1.200000,5.0,4.0,0.0,0.0,0.0,0.0,14.20,1.6,0,0
7016,GAUDIO G.,NADAL R.,6.0,6.0,0.0,0.0,0.0,2.0,14.200000,1.800000,2.0,2.0,0.0,0.0,0.0,0.0,9.80,1.2,1,1

# Data Integration
Aggiungo la mano con cui gioca un giocatore sfruttando un dataset esterno.
Aggiungo poi le features riguardanti le partite giocate contro i giocatori che hanno la stessa mano dell'avversario e il rapporto partite vinte/partite giocate contro i giocatori che hanno la stessa mano dell'avversario.
Nuove feature:
* ***Hand(A/B)***: mano con cui gioca il giocatore;
* ***PlayedVsSameHanded(A/B)***: Il numero di partite disputate dal giocatore A o B contro giocatori che usano la stessa mano dellâ€™avversario prima del match;
* ***WonRatioVsSameHanded(A/B)***: Il rapporto tra partite vinte dal giocatore A o B e giocate contro giocatori che usano la stessa mano dellâ€™avversario prima del match; 


Dataset preso da:
* https://www.kaggle.com/sijovm/atpdata

Valori mancanti recuperati da:
* https://www.ultimatetennisstatistics.com/
* https://www.tennisexplorer.com/

In [19]:
featop.set_players_hands(dataframe)

Primo attempt ad exploiatare il dataframe:
HandA e HandB settati ancora a NaN:305

Secondo attempt ad exploiatare il dataframe:
HandA e HandB settati ancora a NaN:275

Terzo attempt ad exploiatare il dataframe:
HandA e HandB settati ancora a NaN:235

Quarto attempt ad exploiatare il dataframe:
HandA e HandB settati ancora a NaN:219

Quinto attempt ad exploiatare il dataframe:
HandA e HandB settati ancora a NaN:218

Filling manuale dei valori mancanti:
HandA e HandB settati ancora a NaN:0

In [20]:
print('Valori di HandA:',dataframe['HandA'].unique())
print('Valori di HandB:',dataframe['HandB'].unique())

Valori di HandA: [0 1]
Valori di HandB: [0 1]

In [21]:
featop.set_hands_statistics(dataframe)

In [22]:
dataframe[dataframe['Winner'] == 'PUERTA M.'].append(
            dataframe[dataframe['Loser'] == 'PUERTA M.']).sort_values(by='Date').head(20)[['Winner', 'Loser',
                                                                                  'HandA', 'HandB', 'PlayedVsSameHandedA',
                                                                                         'PlayedVsSameHandedB',
                                                                                         'WonRatioVsSameHandedA',
                                                                                         'WonRatioVsSameHandedB',
                                                                                         'WonRatioVsSameHandedA>WonRatioVsSameHandedB']]

,Winner,Loser,HandA,HandB,PlayedVsSameHandedA,PlayedVsSameHandedB,WonRatioVsSameHandedA,WonRatioVsSameHandedB,WonRatioVsSameHandedA>WonRatioVsSameHandedB
791,STOLIAROV A.,PUERTA M.,0,1,1,0,1.000000,0.000000,1
870,ROCHUS O.,PUERTA M.,0,1,0,1,0.000000,0.000000,0
921,ARAZI H.,PUERTA M.,1,1,0,0,0.000000,0.000000,0
1114,MOYA C.,PUERTA M.,0,1,3,2,1.000000,0.000000,1
1171,DIAZ J.,PUERTA M.,0,1,1,3,1.000000,0.000000,1
1237,GAUDIO G.,PUERTA M.,0,1,2,4,1.000000,0.000000,1
1415,ULIHRACH B.,PUERTA M.,0,1,5,6,0.600000,0.166667,1
1367,PUERTA M.,CLEMENT A.,1,0,5,4,0.000000,0.750000,0
1639,PUENTES G.,PUERTA M.,0,1,0,7,0.000000,0.142857,0
1729,NORMAN M.,PUERTA M.,0,1,6,8,0.500000,0.125000,1
1894,CALLERI A.,PUERTA M.,0,1,4,9,0.750000,0.111111,1
2009,PORTAS A.,PUERTA M.,0,1,5,10,0.400000,0.100000,1
2585,CORRETJA A.,PUERTA M.,0,1,9,11,0.666667,0.090909,1
3377,MARTIN A.,PUERTA M.,0,1,8,12,0.375000,0.083333,1
3967,PUERTA M.,LEE M.,1,1,1,3,0.000000,0.333333,0
3978,SAMPRAS P.,PUERTA M.,0,1,7,13,1.000000,0.076923,1
4253,PUERTA M.,PLESS K.,1,0,14,5,0.071429,0.400000,0
4270,ARAZI H.,PUERTA M.,1,1,3,2,0.666667,0.500000,1
4885,VERDASCO F.,PUERTA M.,1,1,0,3,0.000000,0.333333,0
6023,MONTANES A.,PUERTA M.,0,1,9,15,0.444444,0.133333,1

In [23]:
dataframe.to_csv('./datasets/dataframe05.csv', index = False)